body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1c3d;
  color: #d76d2b;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background-color: #8cadd2;
  border: none;
  color: #3e21ca;
  padding: 12px 22px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
